body 			{font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
				font-size: 1.5em; border: 10px solid red; color: white;
			}
ul li 			{display: inline-block; padding: 0px 30px 0px 30px;
}
ul 				{text-align: center;
}

footer 			{clear: both;
}
  

	    
h1 				{text-align: center;
}
div#linkedin 	{float:right;
}

.facebook		{float:left;
}
#pic1 			{
					background: url(/Portfolio/images/IMG_1329.jpg) center no-repeat; 
					width: 300px;
					border-radius: 50%;
					border: 7px solid white;
					height: 300px;
					background-size: cover;
					margin-left: 40%;
}

div#twitter 	{float: right;}
h5 				{position: fixed; bottom:10px; left: 15px;}

nav {margin-bottom: 2em; padding: 5em; border-bottom: solid red 10px; font: black;}
.twlogo {text-align: center;}
 body {background-image: url(/Portfolio/images/cubes.jpg) ;
 		background-size: cover;}

.view {color: white;} 		
footer {padding: 5em; margin-top: 3em;}
.cert1:hover {width: 100%; height: 100%; overflow:hidden;}
.cert2:hover {width: 100%; height: 100%;}
.cert3:hover {width: 100%; height: 100%;}
.cert4:hover {width: 100%; height: 100%;}

#movies img:hover {width: 17em; height:17em;}
#bands img:hover {width: 17em; height:17em;}
#people img:hover {width: 17em; height:17em;}