._55nc input{font-size:14px !important;line-height:18px !important}
._200{margin:10px 0;border-top:1px solid #ccc}._201{background-image:url(/rsrc.php/v2/y2/r/r6z4lDbfe4T.png);background-repeat:no-repeat;background-size:auto;background-position:0 0;display:block;height:14px;margin-top:-7px;position:absolute;right:4px;top:50%;width:17px}._6i3{font-size:14px}._6i3 ._7gk{max-width:550px;overflow:hidden}

#bootloader_uyTJP{height:42px;}.bootloader_uyTJP{display:block!important;}